<ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
  <li class="ht-breadcrumbs__item">
    <a href="<%= root_path %>" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Trang chủ</span>
    </a>
  </li>
  <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page"><%= request.path_info.split('/').last %></span></li>
</ul>
